
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f7f6;
    font-family: sans-serif;
}

.card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

.info p {
    margin: 10px 0;
    font-size: 1.1rem;
}


.success-green {
    color: #28a745;
    font-weight: bold;
}

.danger-red {
    color: #dc3545;
    font-weight: bold;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 5px;
}

button {
    padding: 8px 5px;
    cursor: pointer;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    transition: 0.2s;
}

button:hover {
    background-color: #f0f0f0;
}
